<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="Shortcut Icon" href="/public/favicon.ico" type="image/x-icon">
    <title>{{ code }} ~~ Whoops</title>
    <style type="text/css">
        @keyframes up-down{
            50%{
                transform: translateY(10px);
            }
        }
    </style>
</head>
<body>
<h1 style="font-size: 40px;text-align: center;position:fixed;width:100%;top:20%;user-select: none;-webkit-user-select: none;-webkit-user-drag: none;animation: up-down 4s infinite ease">{{ code }}</h1>
<h3 style="text-align: center;top: 40%;position: fixed;width: 100%;" class="comic">{{ msg }}</h3>
</body>
</html>
